spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sipms_database
    username: postgres
    password: jemoh2036
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      connection-timeout: 30000
      pool-name: SipmsDevPool

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        use_sql_comments: true
    show-sql: true
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    clean-disabled: false

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

logging:
  level:
    com.sipms: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.flywaydb: INFO